body {
  justify-content: center;
  align-items: center;
  text-align: center;
}

ol {
  width: 250px;
  margin: auto;
  text-align: left;
}

.addProducts {
  border-top: 1px solid black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}